<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>
<!-- Content Wrapper. Contains page content -->
<div  style="background-image: url(./assets/dist/img/logo-remove.jpg); background-repeat:no-repeat; background-size:600px ;" class="content-wrapper background1">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1><a href="">Trang ADMIN
                            BAĐ</a></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section>
        <h2 class="col-sm-6">Chọn các chức năng ở thanh công cụ</h2>
    </section>
    <!-- Main content -->

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Footer -->
<footer th:replace="~{admin/layout/footer}"> </footer>
<!-- EndFooter -->
<!-- Page specific script -->
<script>
    $(function() {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>

</html>