<nav class="desktop-menu" th:fragment="menu">
    <ul>
        <li class="active"><a th:href="@{/}" style="text-decoration:none;">trang chủ</a>
        </li>
         <!-- foreach ($listCategory as $category) { -->
        <li class="position-static"><a style="text-decoration:none;"
                href=" echo BASE_URL.'?act=san-pham-theo-danh-muc&id='.$category['dm_id'] ">
                
                <!-- $category['ten_dm'] -->
            
            </a>
        </li>
        <!-- <li class="position-static"><a href="#">bình giữ nhiệt</a>
    </li>
    <li><a href="#">cốc giữ nhiệt</a>
    </li> -->
        <li><a href=" BASE_URL.'?act=lien-he'" style="text-decoration:none;">liên hệ</a>
        </li>
        <li><a
                href=" BASE_URL.'?act=gioi-thieu'" style="text-decoration:none;">Về
                chúng tôi</a></li>
    </ul>
</nav>