<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>
<th:block th:if="${message != null}" th:text="${message}" class="alert alert-success" role="alert">
</th:block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
     
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a th:href="@{/admin/listproduct}">Quản
                            Lý Sản Phẩm</a></h1>
                </div>

            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thêm Sản Phẩm</h3>
                        </div>
                        <!-- Alert-->
                        <div th:if="${message}" class="alert" 
                        th:classappend="${message.contains('Thành công')} ? ' alert-success' : ' alert-danger'" 
                        role="alert" style="margin-top: 10px;">
                       <span th:text="${message}"></span>
                        </div>
                        <!-- form start -->
                        <form method="post" th:action="@{/admin/listproduct/act/formAddProduct}" enctype="multipart/form-data" id="add-product">
                            <div class="card-body row">
                                <!-- Tên sản phẩm -->
                                <div class="form-group col-12">
                                    <label for="Name">Tên Sản Phẩm</label>
                                    <input type="text" name="Name" class="form-control" id="Name" placeholder="Tên Sản Phẩm"  />
                                </div>
                        
                                <!-- Giá -->
                                <div class="form-group col-6">
                                    <label for="Price">Giá Sản Phẩm</label>
                                    <input type="number" name="Price" min="0" class="form-control" id="Price" placeholder="Giá"  />
                                </div>
                        
                                <!-- Mô tả -->
                                <div class="form-group col-12">
                                    <label for="Description">Mô tả Sản Phẩm</label>
                                    <input type="text" name="Description" class="form-control" id="Description" placeholder="Mô tả Sản Phẩm" />
                                </div>
                        
                                <!-- Size -->
                                <div class="form-group col-6">
                                    <label for="Size">Size</label>
                                    <input type="text" name="Size" class="form-control" id="Size" placeholder="Size" />
                                </div>
                        
                                <!-- Màu sắc -->
                                <div class="form-group col-6">
                                    <label for="Color">Màu Sắc</label>
                                    <input type="text" name="Color" class="form-control" id="Color" placeholder="Màu sắc"  />
                                </div>
                        
                                <!-- Ảnh sản phẩm -->
                                <div class="mb-3 col-6">
                                    <label for="Img" class="form-label">Ảnh sản phẩm</label>
                                    <input type="file" name="Img" class="form-control" id="Img" />
                                </div>
                        
                                <!-- Danh mục -->
                                <div class="form-group col-6">
                                    <label for="CategoryID">Thuộc Danh Mục</label>
                                    <select class="form-selectcategori" aria-label="Default select example" name="CategoryID">
                                        <option value="">-- Chọn danh mục --</option> 
                                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"   th:selected="${category.id == 1}">Select Category</option>
                                    </select>
                                </div>
                        
                                <!-- Số lượng -->
                                <div class="form-group col-6">
                                    <label for="Quantity">Số lượng</label>
                                    <input type="number" name="Quantity" min="0" class="form-control" id="Quantity" placeholder="Số lượng"  />
                                </div>
                        
                                <!-- Giảm giá -->
                                <div class="form-group col-6">
                                    <label for="Discount">Giảm Giá</label>
                                    <input type="number" name="Discount" min="0" class="form-control" id="Discount" placeholder="Giảm giá"  />
                                </div>
                        
                                <!-- List ảnh -->
                                <div class="form-group col-12">
                                    <label for="listIMG">Ảnh Sản Phẩm (nhiều ảnh)</label>
                                    <input type="file" name="listIMG" class="form-control" id="listIMG" multiple />
                                </div>
                            </div>
                        
                            <!-- Nút submit -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                        
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer th:replace="~{admin/layout/footer}"> </footer>
<!-- End Footer -->

</body>


</html>