<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a
                            th:href="@{/admin/listproduct}">Quản
                            Lý Sản Phẩm</a></h1>
                </div>

            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title" th:text="'Sửa Sản Phẩm: ' + ${product.getID()}"></h3>

                        </div>
                        <!-- form start -->
                        <form th:action="@{/admin/listproduct/formEditProduct}" method="post" enctype="multipart/form-data" th:object="${product}">
                            <div class="card-body row">
                                <!-- Sửa id sản phẩm -->
                                <input type="number" name="spbt_id" th:field="*{ID}" readonly hidden>
                                
                                <!-- Tên sản phẩm -->
                                <div class="form-group col-12">
                                    <label for="ten_sp">Tên Sản Phẩm</label>
                                    <input type="text" th:field="*{Name}" class="form-control" id="ten_sp" placeholder="Tên Sản Phẩm" />
                                    <p th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}" class="text-danger"></p>
                                </div>
                        
                                <!-- Giá -->
                                <div class="form-group col-6">
                                    <label for="Price">Giá Sản Phẩm</label>
                                    <input type="number" min="0" th:field="*{Price}" class="form-control" id="Price" placeholder="Giá" />
                                    <p th:if="${#fields.hasErrors('Price')}" th:errors="*{Price}" class="text-danger"></p>
                                </div>
                        
                                <!-- Size -->
                                <div class="form-group col-6">
                                    <label for="Size">Size</label>
                                    <input type="text" name="Size" th:field="*{Size}" class="form-control" id="Size" placeholder="Size" />
                                </div>
                        
                                <!-- Màu sắc -->
                                <div class="form-group col-6">
                                    <label for="Color">Màu Sắc</label>
                                    <input type="text" name="Color" th:field="*{Color}" class="form-control" id="Color" placeholder="Màu sắc" />
                                </div>
                        
                                <!-- Giá khuyến mãi -->
                                <div class="form-group col-6">
                                    <label for="km_sp">Giá Khuyến Mãi</label>
                                    <input type="number" min="0" th:field="*{Discount}" class="form-control" id="km_sp" placeholder="Giá Khuyến Mãi" />
                                    <p th:if="${#fields.hasErrors('Discount')}" th:errors="*{Discount}" class="text-danger"></p>
                                </div>
                        
                                <!-- Danh mục -->
                                <div class="form-group col-6">
                                    <label for="dm_id">Thuộc Danh Mục</label>
                                    <select class="form-control" th:field="*{CategoryID}" id="dm_id">
                                        <option th:each="danhMuc : ${listCategory}" th:value="${danhMuc.getId()}" th:text="${danhMuc.getName()}"
                                                th:selected="${danhMuc.getId() == product.getCategoryID()}">
                                        </option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('CategoryID')}" th:errors="*{CategoryID}" class="text-danger"></p>
                                </div>
                        
                                <!-- Số lượng -->
                                <div class="form-group col-6">
                                    <label for="so_luong">Số lượng</label>
                                    <input th:field="*{Quantity}" type="number" min="0" name="so_luong" class="form-control" id="so_luong" placeholder="Số lượng" />
                                    <p th:if="${#fields.hasErrors('Quantity')}" th:errors="*{Quantity}" class="text-danger"></p>
                                </div>
                        
                                <!-- Ảnh sản phẩm -->
                                <div class="mb-3 col-6">
                                    <label for="img_sp" class="form-label">Ảnh sản phẩm</label>
                                    <input type="file" name="img_sp" class="form-control" id="img_sp" placeholder="Ảnh sản phẩm">
                                </div>
                                <div class="mb-3 col-6">
                                    <div>
                                        <p th:if="${product.getListIMG() != null and product.getListIMG().size() > 0}">
                                            <img th:src="@{'/images/' + ${product.getListIMG().get(0)}}" alt="Không có ảnh" style="max-width: 80px; height: auto;">
                                        </p>
                                        <p th:if="${product.getListIMG() == null or product.getListIMG().size() == 0}">
                                            Không có ảnh
                                        </p>
                                    </div>
                                </div>
                        
                                <!-- Mô tả -->
                                <div class="form-group col-12">
                                    <label for="mo_ta">Mô tả</label>
                                    <input th:field="*{Description}" type="text" name="mo_ta" id="mo_ta" class="form-control" placeholder="Mô tả">
                                </div>
                        
                                <!-- Nút submit -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Sửa</button>
                                </div>
                            </div>
                        </form>
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<!-- End Footer -->

</body>

</html>