<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>
<p th:if="${product != null}" th:text="'Chi tiết' + ${product.name}"></p>
<p th:if="${product == null}">Sản phẩm không tồn tại!</p>
<body>
    <h1>Product Details</h1>
    <div th:if="${product != null}">
        <div>
            <h1 th:text="${product.name}">Product Name</h1>
            <p th:text="'ID: ' + ${product.ID}"></p>
            <p th:text="'Category: ' + ${product.categoryID}"></p>
            <p th:text="'Price: ' + ${product.price}"></p>
            <p th:text="'Quantity: ' + ${product.quantity}"></p>
            <p th:text="'Size: ' + ${product.size}"></p>
            <p th:text="'Color: ' + ${product.color}"></p>
            <p th:text="'Discount: ' + ${product.discount}"></p>
            <p th:text="'Note: ' + ${product.description}"></p>
            <img th:src="@{${product.listIMG[0]}}" alt="Product Image"/>
            <button type="button" class="btn btn-info ms-2 size-btn"
            style="width:50px"
           th:attr=
        " data-stock=${product.name},
            data-spbt-id=${product.ID}">

        </button>
        </div>
        
    </div>
    <div th:if="${product == null}">
        <p>Sản phẩm không tồn tại!</p>
    </div>
    <a href="/products">Back to Products</a>
</body>
</html>