<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><a
              th:href="@{/admin/listOrder}">Quản
              Lý Đơn Hàng</a></h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="dt-buttons btn-group flex-wrap">               
              <table class="table " style="text-align:center;">
                <thead>
                  <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tài khoản ID</th>
                    <th>Tên người nhận</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Tổng số lượng</th>
                    <th>Tổng tiền</th>
                    <th>Ngày đặt</th>
                    <th>Trạng thái</th>
                    <th>Thanh toán</th>
                    <th>Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order : ${listOrder}">
                    <td th:text="${order.getOrderId()}">
                    </td>
                    <td th:text="${order.getUserId()}">
                    </td>
                    <td th:text="${order.getName()}">
                    </td>
                    <td th:text="${order.getPhone()}">
                    </td>
                    <td th:text="${order.getAddress()}">
                    </td>
                    <td th:text= "${order.getTotalquantity()}">
                    </td>
                    <td th:text="${order.getTotalAmount()}">
                    </td>
                    <td th:text="${order.getDate()}">
                    </td>
                    <td >
                      <select class=" form-select status-select" name="status"  th:attr="data-id=${order.getOrderId()}" >
                        <option value="Pending" th:selected="${order.getStatus() == 'Pending'}"  class="alert alert-secondary" >Chờ xác nhận</option>
                        <option value="Shipped" th:selected="${order.getStatus() == 'Shipped'}" class="alert alert-primary">Đang giao</option>
                        <option value="Delivered" th:selected="${order.getStatus() == 'Delivered'}" class="alert alert-success"  >Đã giao</option>
                        <option value="Cancelled" th:selected="${order.getStatus() == 'Cancelled'}"  class="alert alert-danger" >Hủy đơn</option>
                      </select>
                    </td>
                    <td th:switch= "${order.getStatuspayment()}">
                      <div th:case="'Pending'" class="alert alert-warning text-md-start" role="alert">
                          Đang chờ thanh toán
                      </div>
                      <div th:case="'Completed'" class="alert alert-success text-md-start" role="alert">
                        Đã thanh toán
                      </div>
                    </td>
                    <td>
                      <a th:href="@{'/admin/listOrder?act=detailorder&id=' + ${order.getOrderId()}}" class="btn btn-info mt-2">Chi tiết </a>
                    </td>
                  </tr>

                  <ul class="pagination justify-content-center">
                    <li th:if="${currentPage > 0}" class="page-item">
                      <a class="page-link" th:href="@{'/admin/listOrder'(page=${currentPage - 1})}">Trước</a>
                    </li>
                  
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active'">
                      <a class="page-link" th:href="@{'/admin/listOrder'(page=${i})}" th:text="${i + 1}">1</a>
                    </li>
                  
                    <li th:if="${currentPage < totalPages - 1}" class="page-item">
                      <a class="page-link" th:href="@{'/admin/listOrder'(page=${currentPage + 1})}">Tiếp</a>
                    </li>
                  </ul>
              </table>
            </div>
            <!-- /.card-body -->


          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Footer -->
<footer th:replace="~{admin/layout/footer}"> </footer>
<!-- EndFooter -->
<!-- Page specific script -->
<script>
  $(function() {
    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

</script>
</body>

</html>