<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><a
              href="@{/admin/listorder>">Quản
              Lý Đơn Hàng</a></h1>
        </div>
        <div>
        </div>
      </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12"  th:switch="${order.getStatus()}">
          <p th:case="'Pending'" class="alert alert-info"> Chờ xác nhận</p>
          <p th:case="'Shipped'" class="alert alert-warning"> Đang giao</p>
          <p th:case="'Delivered'" class="alert alert-success"> Đã giao</p>
          <p th:case="'Cancelled'" class="alert alert-danger"> Hủy đơn</p>
          <p th:case="*" class="alert alert-danger" > Không xác định</p>
   
          </div>


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4 style="    align-items: center;
    display: flex;
    text-align: center;
    gap: 15px;"> Shop sản phẩm giữ nhiệt BAĐ
                  <small class="float-right" th:text="'Ngày tạo: '+${order.getDate()}">
                    </small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                Thông tin  người nhận
                <address>
                  <strong th:text="${order.getName()}"></strong><br>
                  Phone: <span th:text="${order.getPhone()}"></span><br>
                  Địa chỉ: <span th:text="${order.getAddress()}"></span><br>
                  <br>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-8 invoice-col">
                <b th:text="'Mã Đơn hàng: '+ ${order.getOrderId()}">Mã Đơn hàng:</b>
                <br>
                <b th:text="'Tổng số lượng: '+${order.getTotalquantity()} + ' - SP'">Tổng số lượng:</b>
                <div style="font-weight: bolder;" th:switch="${order.getPaymentMethod()}" >
                  Phương thức thanh toán: 
                  <p th:case="'COD'">Thanh toán khi nhận hàng</p>
                  <p th:case="'VNPAY'">VNPAY</p>
                  <p th:case="*">Khác...</p>
                </div>
                <div style="font-weight: bolder;" th:switch="${order.getStatuspayment()} ">
                  <p th:case="'Pending'" class="alert alert-danger">Đang chờ thanh toán</p>
                  <p th:case="'Completed'" clas="text-success">Đã thanh toán</p>
                  <p th:case="*">Khác...</p>
                </div>
                <b th:text="'Tiền Shipped: ' + ${order.getShippingFee()} +' VNĐ'"></b>
                <br>
                <b th:text="'Tổng tiền: ' + ${order.getTotalAmount()} +' VNĐ'"></b>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mã đơn hàng</th>
                      <th>Tên sản phẩm</th>
                      <th>Size</th>
                      <th>Giá mua</th>
                      <th>Số lượng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="sanpham : ${productDonHang}">
                      <td th:text="${sanpham.getIDItem1()}">
                      </td>
                      <td>
                      </td>
                      <td th:text="${sanpham.getItem().getName()}">
                      </td>
                      <td th:text="${sanpham.getItem().getSize()} + '   '+ ${sanpham.getItem().getColor()}">
                      </td>
                      <td th:text="${sanpham.getItem().getPrice()} +'VNĐ'">
                        </td>
                      <td th:text="${sanpham.getQuantity()}">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i
                    class="fas fa-print"></i> Print</a>
                <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                  Payment
                </button>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Footer -->
<footer th:replace="~{admin/layout/footer}"> </footer>
<!-- EndFooter -->
<!-- Page specific script -->
<script>
  $(function() {
    $("#example1").DataTable({
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
</body>

</html>