<!-- Header-->
<header  th:replace="~{admin/layout/header}"></header>
<!-- EndHeader-->
<!-- Navbar -->
<header  th:replace="~{admin/layout/navbar}"></header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside th:replace="~{admin/layout/sidebar}"> </aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a
                            th:href="@{/admin}">Chỉnh Sửa Trạng Thái</a></h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Cập nhật lại trạng thái đơn hàng</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form
                            method="post">
                            <input type="text" name="dm_id"
                                th:value=" ${order.getOrderId()}"
                                hidden>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputCategory">Sửa Trạng Thái</label>
                                    <input type="text" class="form-control" name="ten_dm" id="exampleInputCategory"
                                        placeholder="Nhập tên danh mục"
                                        value="${order.getStatus()}">
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Footer -->
<?php include './views/layout/footer.php' ?>
<!-- EndFooter -->
<!-- Page specific script -->
<script>
    $(function() {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>

</html>